source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0
nuget Fable.Browser.Dom
nuget Fable.Core
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Promise
nuget FSharp.Core

group Build
    source https://api.nuget.org/v3/index.json
    framework: net6.0
    storage: none
    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem